html
    head
        link(href="/stylesheets/style.css")
    body#bodyid
        p signup
        form#form(action='/', method='POST')
            | First firstname:
            br
            input(type='text', name='firstname',id="firstname")
            br
            | Last lastname:
            br
            input(type='text', name='lastname', id="lastname")
            br
            | Email
            br
            input(type='text', name='email', id="email")
            br
            | Password
            br
            input(type='text', name='password', id="password")
            br
            | Confirm Password
            br
            input(type='text', name='password2', id="password2")
            br
            button( value="click" id="submitbutton" disabled) button
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
        script(src="x.js")

        style.
            table, th, td {
                border: 1px solid black!important;
            }
        div(id="users")