html
    body
        p signup
        form#form(action='/', method='POST')
            | First firstname:
            br
            input(type='text', name='firstname',id="firstname")
            br
            | Last lastname:
            br
            input(type='text', name='lastname', id="lastname")
            br
            | Email
            br
            input(type='text', name='email', )
            br
            | Password
            br
            input(type='text', name='password', )
            br
            | Confirm Password
            br
            input(type='text', name='password2', )
            br
            button( value="click") button
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
        script(src="x.js")

        div(id="users")