div
    script.
        console.log("kamal");
    each user in users
        ul
            li= user.firstName
            form(action="/delete" method="post")
                input(type="hidden" value=user._id name="_id")
                input( type="submit" value="delete")
            a(href="/update/"+user._id) Update
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js")