p update
form(action="/update/"+users[0]._id, method="post")
    p= users
    input(name="firstName" value=users[0].firstName)
    input(name="lastNameName" value=users[0].lastNameName)
    input(type="submit" value="submit")